.App {
  font-family: sans-serif;
}
.cabecalho {
  padding-bottom: 10px;
  border-bottom: 3px solid lightgray;
}
.marca {
  font-size: xx-large;
  font-weight: bold;
}

table {
  width: 700px;
  border-collapse: collapse;
  text-align: center;
}
td {
  border: 1px solid black;
  padding: 8px;
}
tr.linha {
  background-color: #87ceeb;
}
